<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Vehicle Management</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>
<body>
<form method="post" class="form-group" action="/InsertVehicle/">
    <div class="container">
        <div class="row">
            <div class="col text-center p-2">
                <h3 class="display-3 text-uppercase">INSERT VEHICLE</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form><label>NUMBER PLATE :&nbsp;</label><input class="form-control" type="text" placeholder="xx - xxxx"><label>VEHICLE MODEL :&nbsp;</label><input class="form-control" type="text"><label>NO. OF SEATS :&nbsp;</label><input class="form-control"
                        type="text"><input class="border rounded border-warning" type="file" accept="image/*">
                    <div class="text-right p-2"><button class="btn btn-success text-uppercase" type="button">confirm</button></div>
                </form>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</form>
</body>


</html>