<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Customer bill History</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inventory <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Add Stock <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Add Suppliers <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">View Suppliers <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Send Purchase Orders <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Reports <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button type="button" class="btn btn-outline-warning">Search</button>
            </form>
        </div>
    </nav>
    <br>
    <br>
    <h1 class=text-center style="color: #DC8A1B">Customer bill history</h1>
    <form method="get" action="/#/">
        <input type="submit" class="btn btn-secondary" name="btnaddmeal" value="New Bill">
    </form>
    <br>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">bill ID</th>
                <th scope="col">Bill amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">m001</td>
                <td>Rs65000/=</td>
                <td>
                    <button type="button" class="btn btn-warning">View</button>
                    <button type="button" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-danger">Remove</button>
                </td>

            </tr>
        </tbody>
    </table>
</body>

</html>