<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Expenses </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Revenue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Capital Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ledgers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reports</a>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<br>

  <h1 class="text-center" style="color:#DC8A1B">Reports</h1>
  <br>
  <div class="container-fluid text-center">


    <div class="col-sm-8">
      <form class="container" action="/action_page.php">
        <div class="form-group row">
          <label for="date" class="col-sm-2 col-form-label">Date</label>
          <div class="col-sm-5">
            <input type="date" class="form-control" id="date" placeholder="enter date">
          </div>
        </div>


        <br>
        <br>

        <div class="form-group row">
          <label for="inputState" class="col-sm-2 col-form-label">Search</label>
          <div class="col-sm-8">
            <select id="inputState" class="form-control">
              <option selected>Profit Loss</option>
              <option>Cash Flow</option>
              <option>Sopf statement</option>
              <option>..</option>
            </select>
          </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="form-row">
      <div class="col-3">

        <button type="submit" class="btn btn-secondary mb-5">Back</button>
      </div>
      <div class="col-3">

        <button type="submit" class="btn btn-warning mb-3">Search Report</button>
      </div>


    </div>
    </form>

    </form>

</body>
</html>