<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Resturant pos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .tblcontent {
            background-color: #DEDED4;
            border-radius:15px;
            border:1px solid black;
            width: 250px;
            height: 250px;
            text-align: center;
            padding: 30px;
            margin-top:30px;
            margin-bottom:30px;
        }
        .layout{
            width:80%;
            padding:30px;
            margin-left:auto;
            margin-right:auto;
        }
    </style>
</head>

<body>
    <h1>
        <center> POS Dashboard</center>
    </h1>

    <table class="layout">
        <tr>
            <td>
                <div class="tblcontent container">
                    <h2>Table : 01 </h2>
                    <a class="form form-button btn btn-danger" href="">Active bill </a><br><br><br>
                    <input type="submit" class="form form-contorl btn btn-success" name="tblsubmit" value="open bill">
                </div>
            </td>
            <td>
                <div class="tblcontent container">
                    <h2>Table : 02 </h2>
                    <br><br><br>
                    <input type="submit" class="form form-contorl btn btn-success" name="tblsubmit" value="open bill">
                </div>
            </td>
            <td>
                <div class="tblcontent container">
                    <h2>Table : 03 </h2>
                    <br><br><br>
                    <input type="submit" class="form form-contorl btn btn-success" name="tblsubmit" value="open bill">
                </div>
            </td>
            <td>
                <div class="tblcontent container">
                    <h2>Table : 04 </h2>
                    <a class="form form-button btn btn-danger" href="">Active bill </a><br><br><br>
                    <input type="submit" class="form form-contorl btn btn-success" name="tblsubmit" value="open bill">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="tblcontent container">
                    <h2>Table : 05 </h2>
                    <br><br><br>
                    <input type="submit" class="form form-contorl btn btn-success" name="tblsubmit" value="open bill">
                </div>
            </td>
            <td>
                <div class="tblcontent container">
                    <h2>Table : 06 </h2>
                    <br><br><br>
                    <input type="submit" class="form form-contorl btn btn-success" name="tblsubmit" value="open bill">
                </div>
            </td>
            <td>
                <div class="tblcontent container">
                    <h2>Table : 07 </h2>
                   <br><br><br>
                    <input type="submit" class="form form-contorl btn btn-success" name="tblsubmit" value="open bill">
                </div>
            </td>
            <td>
                <div class="tblcontent container">
                    <h2>Table : 08 </h2>
                    <br><br><br>
                    <input type="submit" class="form form-contorl btn btn-success" name="tblsubmit" value="open bill">
                </div>
            </td>
        </tr>
    </table>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>