<html>
    <head>
        <title>
            Suppliers
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inventory <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Add Stock <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Add Suppliers <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">View Suppliers <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Send Purchase Orders <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Reports <span class="sr-only">(current)</span></a>
                  </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button type="button" class="btn btn-outline-warning">Search</button>
              </form>
            </div>
          </nav>
          <br>
          <br>
          <h1 class=text-center style="color: #DC8A1B">Suppliers</h1>
          <button type="button" class="btn btn-secondary">Add Supplier</button>
        <br>
        <br>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Supplier ID</th>
                <th scope="col">Supplier Name</th>
                <th scope="col">Email</th>
                <th scope="col">NIC/Registration No</th>
                <th scope="col">Address</th>
                <th scope="col"></th>
               
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">#S001</td>
                <td>Jagro Strawberries</td>
                <td>jagro@gmail.com</td>
                <td>nav123</td>
                <td>Nuwara-Eliya</td>
                <td>
                    <button type="button" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-danger">Remove</button>
                </td>
                
              </tr>
              <tr>
                <th scope="row">#S002</th>
                <td>ABC</td>
                <td>abc@gmail.com</td>
                <td>nav156</td>
                <td>Malabe</td>
                
                <td>
                    <button type="button" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-danger">Remove</button>
                </td>
                
              </tr>
            </tbody>
          </table>
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
              </body>
          </html>